<div class="episodes-page">
    <div *ngFor="let episode of episodes;let i=index" class="info">
            <p style="margin-bottom:0px;margin-top:5px;" (click)="collapse.toggle()" [attr.aria-expanded]="up[i]" aria-controls="episode">
                <span style="color: #AAA;">Ep{{episode.mal_id}}:</span>&nbsp;<em>{{episode.title}}</em>
            </p>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="up[i]" style="margin-left: 5px;margin-right: 5px;">
                <span style="font-family: 'Space Mono', monospace; font-size: 15px;">{{episode.title_japanese}}</span>
                <ul>
                    <li>Aired:  {{episode.aired | date:'mediumDate' }}</li>
                    <li>Filler: {{episode.filler | boolToYes}}</li>
                    <li>Recap:  {{episode.recap | boolToYes}}</li>  
                </ul>
            </div>
    </div>
</div>
