.genre-page{
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.genre-page h2{
    margin: 15px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
}